%table.table
  %thead
    %tr
      %th Resource
      %th Description
  %tbody
    %tr
      %td GET guests
      %td Returns a collection of all guests registered for the wedding.
    %tr
      %td GET guests/:guest_id
      %td Returns all the information about a specified guest.
    %tr
      %td GET guests/:guest_id/achievements
      %td Returns all the achievements from a specified guest.
