%h2 Our Wedding

%p
  The ceremony is being held at the City Hall in Delft, a Renaissance style building on the Markt across from the Nieuwe Kerk. It is the former seat of the city's government, and still today the place where residents hold their civic wedding ceremonies. Originally designed by the Dutch architect Hendrick de Keyser, it was heavily changed over the centuries and was restored in the 20th century to its Renaissance appearance.

%p
  %b Where:
  City Hall, Delft
%p
  %b When:
  15:00, 15-05-2015

<div class='embed-container-map'><iframe src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2455.7484242222176!2d4.358491000000001!3d52.011461999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc0c64069f90a78a1!2sCity+Hall!5e0!3m2!1sen!2suk!4v1400333789900' width='600' height='450' frameborder='0' style='border:0'></iframe></div>
