.achievements {
  margin-top: 40px;

  .achievement {
    margin-top: 50px;
  }

  img {
    float: left;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    border: 1px solid;
  }

}
