
%h2 Achievements

.achievements
  %ul.list
    - @achievements.each do |achievement|
      .achievement{class: ("gray" unless current_user.achieved?(achievement)), id: "achievement_#{achievement.id}"}
        =image_tag achievement.icon
        %div.text
          %h3
            = achievement.name
          %p
            = simple_format achievement.description
          - if current_user.achieved?(achievement)
            .status STATUS: ACHIEVEMENT UNLOCKED
          -else
            .status
              STATUS: LOCKED
              = link_to "Unlock", user_achievements_path(achievement_id: achievement.id), remote: true, method: 'POST', class: 'btn btn--small'

