
%h2 Achievements

.achievements
  %ul.list
    - @achievements.each do |achievement|
      .achievement
        =image_tag achievement.icon
        %div.text
          %h3
            = achievement.name
          %p
            = simple_format achievement.description
          STATUS: LOCKED
